.container{
    display: flex;
    flex-wrap: wrap; 
}

.card{
    border: 2px solid orange;
    margin: 5px;
}

.card-title{
    background-color: gray;
    color: #fff;
    text-align: center;
    font-weight: bold;
}

li{
    padding: 2px 10px;
}

ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.card-body li:nth-child(odd){
    background-color:#fcba03;
}

.card-body li:nth-child(even){
    background-color:#cc971d;
}













